# Ignore everything
*
# But these files
!.gitignore
!.gitattributes
!CMakeLists.txt
!LICENSE
!minibot-driver_import.cmake
!readme.MD
# And these subdirectories
!bin/
!build/
!include/
!lib/
!src/
!test/
